absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
anomalib==2.1.0
antlr4-python3-runtime==4.9.3
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
cattrs==25.1.1
certifi==2025.8.3
charset-normalizer==3.4.3
coloredlogs==15.0.1
contourpy==1.3.2
coremltools==8.3.0
cycler==0.12.1
docstring_parser==0.17.0
dotenv==0.9.9
einops==0.8.1
exceptiongroup==1.3.0
filelock==3.19.1
flatbuffers==25.2.10
fonttools==4.59.1
FrEIA==0.2
frozenlist==1.7.0
fsspec==2025.7.0
ftfy==6.3.1
gast==0.6.0
google-pasta==0.2.0
grpcio==1.74.0
h5py==3.14.0
hf-xet==1.1.8
huggingface-hub==0.34.4
humanfriendly==10.0
idna==3.10
imageio==2.37.0
importlib_resources==6.5.2
Jinja2==3.1.6
joblib==1.5.1
jsonargparse==4.40.2
keras==3.11.3
kiwisolver==1.4.9
kornia==0.8.1
kornia_rs==0.1.9
lazy_loader==0.4
libclang==18.1.1
lightning==2.5.3
lightning-utilities==0.15.2
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.5
mdurl==0.1.2
ml_dtypes==0.5.3
mpmath==1.3.0
multidict==6.6.4
namex==0.1.0
networkx==3.4.2
numpy==1.26.4
omegaconf==2.3.0
onnx==1.17.0
onnxruntime-gpu @ https://github.com/ultralytics/assets/releases/download/v0.0.0/onnxruntime_gpu-1.20.0-cp310-cp310-linux_aarch64.whl
onnxslim==0.1.57
open_clip_torch==3.1.0
opencv-python==4.12.0.88
opencv-python-headless==4.11.0.86
openvino==2025.2.0
openvino-telemetry==2025.2.0
opt_einsum==3.4.0
optree==0.17.0
packaging==25.0
pandas==2.3.2
pexpect==4.8.0
pillow==11.3.0
polars==1.32.3
propcache==0.3.2
protobuf==5.29.5
psutil==7.0.0
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pyaml==25.7.0
Pygments==2.19.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytorch-lightning==2.5.3
pytz==2025.2
PyYAML==6.0.2
regex==2025.7.34
requests==2.32.5
rich==14.1.0
rich-argparse==1.7.1
safetensors==0.6.2
scikit-image==0.25.2
scikit-learn==1.7.1
scipy==1.15.3
six==1.17.0
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflowjs==3.18.0
tensorrt==10.3.0
tensorrt_dispatch==10.3.0
tensorrt_lean==10.3.0
tensorstore==0.1.76
termcolor==3.1.0
threadpoolctl==3.6.0
tifffile==2025.5.10
timm==1.0.19
torch @ https://github.com/ultralytics/assets/releases/download/v0.0.0/torch-2.5.0a0+872d972e41.nv24.08-cp310-cp310-linux_aarch64.whl
torchmetrics==1.8.1
torchvision @ https://github.com/ultralytics/assets/releases/download/v0.0.0/torchvision-0.20.0a0+afc54f7-cp310-cp310-linux_aarch64.whl
tqdm==4.67.1
typeshed_client==2.8.2
typing_extensions==4.15.0
tzdata==2025.2
# Editable Git install with no remote (ultralytics==8.3.186)
-e /ultralytics
ultralytics-thop==2.0.16
urllib3==2.5.0
uv==0.8.13
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.17.3
yarl==1.20.1
